<script>
window.setTimeout(function() {
    window.location.href = '{{ target_url }}';
}, 500);
</script>
<p>
  Logging in, you will be redirected. If not please <a href="{{ target_url }}">Click here</a>
</p>
